/* 
  Annie's Personal Website

  Annie Tang
  June 2022 - present 
 */

/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 207;
  --sat: 90%;
  --lig: 65%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-dark: hsla(250, 100%, 75%, 0.76);
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --title-font: 'Exo 2', sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /* for light mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.change-theme{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s; 
  margin-right: 3rem;
}

.change-theme:hover{
  color: var(--first-color);
}

/* Tooltip container */
.theme-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.theme-tooltip .theme-tooltip-text {
  visibility: hidden;
  background-color: var(--first-color);
  color: var(--body-color);
  text-align: center;
  font-size: var(--smaller-font-size);
  
  padding: 5px 0;
  border-radius: 0.5rem;
 
  position: absolute;
  z-index: 1;

  width: 100px;
  top: 100%;
  left: 50%;
  margin-left: -75px; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.theme-tooltip:hover .theme-tooltip-text {
  visibility: visible;
}

/*========== Variables Light theme ==========*/
body.light-theme{
  --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);
  --body-color: hsl(var(--second-hue), 100%, 99%);
  --container-color: white;
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/

/* .light-theme .bg{
  background-image: url('/assets/img/rodion-kutsaev-8P-uQaTd8rw-unsplash.jpg');
} */

.light-theme .scroll-header{
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, .1);
}

.light-theme .nav__menu{
  background-color: hsla(var(--second-hue), 32%, 90%, .8);
}

.light-theme .section__subtitle,
.light-theme .timeline__subtitle{
  color: var(--text-color);
}

.light-theme .home__social-link{
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}

.light-theme .home__social::after,
.light-theme .home__email::after,
.light-theme .footer__social-link{
  background-color: var(--title-color);
}

.light-theme .home__social-link,
.light-theme .home__email,
.light-theme .button, 
.light-theme .button:hover, 
.light-theme .active-work, 
.light-theme .footer__title, 
.light-theme .footer__link, 
.light-theme .footer__copy,
.light-theme .footer__content{
  color: var(--title-color);
}

.light-theme .modal{
  background-color: rgba(255, 255, 255, 0.9); /* black w/ opacity backdrop color */
}

.light-theme .line,
.light-theme .bead,
.light-theme .line:before, 
.light-theme .line:after{
  background-color: var(--first-color);
}

.light-theme .about__box{
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}

.light-theme .skills__content, 
.light-theme .services__card, 
.light-theme .work__card, 
.light-theme .research__card, 
.light-theme .contact__card{
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
}

.light-theme::-webkit-scrollbar{
  background-color: hsl(var(--second-hue), 8%, 66%);
}

.light-theme::-webkit-scrollbar-thumb{
  background-color: hsl(var(--second-hue), 8%, 54%);
}

.light-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--second-hue), 8%, 44%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1920px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.lists{
  text-align: left;
}

/*=============== HEADER & NAV===============*/
.header{
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: .4s; /* for light mode animation */
}

.nav{
  height: var(--header-height);
  display: flex; 
  /* justify-content: space-between; */
  align-items: center;
}

.nav__logo{
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: .4s;
  margin-left: 2rem;
}

.nav__logo:hover{
  color: var(--first-color-alt);
}

.logo__img{
  margin-top: 3rem;
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 2rem;
}

.jaist__logo__img{
  margin-top: 3rem;
  width: 5rem;
  margin-bottom: 2rem;
}

.ires__logo__img{
  margin-top: 6rem;
  width: 10rem;
  margin-bottom: 2rem;
}

.nav__menu{
  position: fixed;
  bottom: 1rem; 
  opacity: 0.9;
  background-color: hsla(var(--second-hue), 32%, 16%, .8);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);
  transition: .4s; /* for light mode animation */
}

.topnav{
  border-radius: 4rem;
  transition: .4s; /* for light mode animation */
  padding: 1rem;
  margin-left: 7.5rem;
  margin-right: 20rem;
}

.topnav-links{
  color: var(--text-color);
  padding: 1rem;
  display: flex; 
  border-radius: 5rem;
}

.topnav-active{
  color: var(--first-color);
}

.nav__list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link{
  color: var(--text-color);
  font-size: 1.25rem; 
  padding: .4rem; 
  display: flex; 
  border-radius: 5rem;
}

/* Active link */
.active-link{
  background: linear-gradient(180deg,
              hsla(var(--first-hue), var(--sat), var(--lig), 1), 
              hsla(var(--first-hue), var(--sat), var(--lig), .2)
              );
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), .4);
  color: var(--title-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}

/*=============== HOME ===============*/
.bg{
  /* background-image: url('/assets/img/lucas-myers-xCTAd2NN4I0-unsplash.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px -8px 10px 0px var(--body-color) inset;
  transition: .4s; /* for light mode animation */
}

.home__container{
  position: relative; 
  row-gap: 4.5rem; 
  padding-top: 2rem; 
}

.home__data{
  text-align: center;
}

.home__greeting, 
.home__education{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home__greeting{
  display: block; 
  color: var(--title-color);
  margin-bottom: .25rem; 
}

.home__education{
  color: var(--text-color);
  margin-top: 0.5rem;
  margin-bottom: 2.5rem; 
}

.home__name{
  font-family: var(--title-font);
  font-size: var(--biggest-font-size);
}

.home__img{
  border-radius: 1.5rem; 
  justify-self: center;
  width: 560px;
  height: auto;
  display: flex;
  box-shadow: 0 0 8px 15px var(--body-color) inset;
}

.home__buttons{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home__social{
  margin-left: 3rem;
  position: fixed;
  bottom: 5rem;
  left: 0; 
  display: grid;
  row-gap: .5rem; 
}

.home__social-link{
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: .25rem; 
  border-radius: .25rem;
  display: flex; 
  font-size: 1rem; 
  transition: .4s; 
}

.home__social-link:hover{
  background-color: var(--first-color-alt);
  color: #fff;
}

.home__email{
  /* margin-right: 1rem; */
  position: fixed;
  bottom: 9rem;
  color: var(--first-color-alt);
  right: -2.5rem; 
  display: grid; 
  row-gap: 2.25rem; 
  justify-items: center; 
}

.home__email-name{
  font-size: var(--smaller-font-size);
  transform: rotate(90deg);
}

.home__social::after,
.home__email::after{
  content: '';
  width: 32px;
  height: 2px; 
  background-color: var(--first-color-alt); 
  transform: rotate(90deg) translate(80px, 1px);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow__container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.gallery__num {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*=============== BUTTONS ===============*/
.button{
  display: inline-block; 
  background-color: var(--first-color);
  color: var(--body-color);
  padding: .75rem 1rem; 
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .4s; 
}

.button:hover{
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.button--ghost{
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 2.5rem;
}

.about__img{
  width: 720px; 
  border-radius: 1.5rem; 
  justify-self: center;
}

.about__data{
  text-align: center;
}

.about__info{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem; 
  margin-bottom: 2rem;
}

.about__box{
  background-color: var(--container-color);
  border-radius: .75rem;
  padding: .75rem .5rem;
}

.about__icon{
  font-size: 1.5rem; 
  color: var(--first-color);
  margin-bottom: .5rem;
}

.about__title{
  font-size: var(--small-font-size);
}

.about__subtitle{
  font-size: var(--tiny-font-size);
}

.about__description{
  margin-bottom: 2rem; 
}

.team__pics{
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; 
  padding: 1rem 25rem;
}

.team__img{
  width: 100%; 
  border-radius: 1.5rem; 
  height: 100%;
}

/*=============== SERVICES ===============*/
.services__container{
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem; 
  padding-top: 1rem;
}

.services__card{
  background-color: var(--container-color);
  padding: 3rem 1.5rem 1.5rem; 
  border-radius: 1rem;
}

.services__title{
  font-size: var(--h3-font-size);
  margin-bottom: 2.5rem;
}

.services__button{
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex; 
  align-items: center; 
  column-gap: .25rem; 
  cursor: pointer;
}

.services__button:hover .services__icon{
  transform: translateX(.25rem);
}

.services__icon{
  font-size: 1rem;
  transition: .4s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 70px;
  right: 300px;
  color: var(--text-color);
  font-size: 30px;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.testimonial__img{
  width: 120px;
  border-radius: 2rem;
  /* margin-bottom: 0.5rem; */
}


/*=============== TIMELINE / WORK EXPERIENCE ===============*/
.timeline__title{
  font-size: var(--h2-font-size);
  color: var(--first-color);
  padding-bottom: 50px;
  margin-bottom: 2rem;
}

.timeline__title, 
.timeline__subtitle {
  text-align: center;
}

.timeline__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.timeline__section__title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  padding-bottom: 1rem;
}

.timeline__container{
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  max-width: 800px;
}

.timeline{
  position: relative; 
  min-height: 150px;
}

.hyperlinks{
  color: var(--first-color);
}

.hyperlinks:hover{
  color: var(--first-color-dark);
}

.line{
  position: absolute; 
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  /* bottom: -50px; */
  background-color: var(--first-color-alt);
  display: none;
}

.line:before, 
.line:after{
  position: absolute;
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--first-color-alt);
  left: 50%;
  transform: translateX(-50%);
}

.line:after{
  bottom: 0;
}

.timeline__section{
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative; 
  z-index: 1;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 250px;
}

.timeline__section:nth-child(odd){
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead{
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--first-color-alt);
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.timeline__content{
  width: calc(50% - 2rem);
}

.show-me:nth-child(n){
  transform: none;
  opacity: 1;
}

/*=============== research / RELEVANT PAPERS SECTION ===============*/
.research__overview{
  padding: 1rem 20rem;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.research__card{
  background-color: var(--container-color);
  padding: 1.25rem 1.5rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
  height: 320px;
}

.research__img{
  width: 60px;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.research__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.research__description{
  font-size: var(--small-font-size);
}

/* Swiper class */
.swiper-pagination-bullet{
  background-color: var(--text-color-light);
}

.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

/*=============== APPLY/CONTACT ===============*/

.apply__descriptions{
  padding: 1rem 20rem;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.contact__container{
  row-gap: 3rem; 
  padding-bottom: 3rem;
}

.contact__title{
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.contact__info{
  display: grid;
  gap: 1rem;
}

.contact__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
}

/* for the robot icon thing in the relevant research section  */
.contact__card-icon{
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.contact__card-title, 
.contact__card-data{
  font-size: var(--small-font-size);
}

.contact__card-title{
  font-weight: var(--font-medium);
}

.contact__card-data{
  display: block;
  margin-bottom: .75rem;
}

.contact__button{
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
}

.contact__button:hover .contact__button-icon{
  transform: translateX(.25rem);
}

.contact__button-icon{
  font-size: 1rem;
  transition: .4s;
}

.contact__form-div{
  position: relative; 
  margin-bottom: 2rem;
  height: 4rem;
}

.contact__form-input{
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none; 
  padding: 1.5rem;
  border-radius: .75rem;
  z-index: 1;
}

.contact__form-par{
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none; 
  padding: 1.5rem;
  border-radius: .75rem;
  z-index: 1;
}

.contact__form-tag{
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  font-size: var(--small-font-size);
  padding: .25rem;
  background-color: var(--body-color);
  z-index: 10;
}

.contact__form-area{
  height: 11rem;
}

.contact__form-area textarea{
  resize: none;
}

/*=============== FOOTER ===============*/
.footer{
  background-color: var(--first-color);
}

.footer__container{
  padding: 2rem 0 6rem;
}

.footer__title, 
.footer__link,
.footer__content{
  color: var(--body-color);
}

.footer__title, 
.footer__content{
  text-align: center;
  margin-bottom: 2rem;
}

.footer__list{
  list-style: none;
  display: flex; 
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__copy{
  display: block;
  margin-top: 3rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

.contact__email{
    color: black;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem; 
  border-radius: .5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(var(--second-hue), 8%, 26%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--second-hue), 8%, 20%);
}

/*=============== BREAKPOINTS ===============*/
@media only screen and (max-width: 767px) {
  .topnav{
    display: none;
  }
}

@media only screen and (min-width: 767px) {
  .nav__menu{
    display: none;
  }
}

/* For small devices */
@media screen and (max-width: 560px){
  .nav__menu{
    padding: 1rem 1.5rem;
  }

  .home__button{
    flex-direction: column;
  }
  .home__img{
    width: 530px;
  }
  .home__social{
    display: none;
  }
  .home__email{
    display: none;
  }

  .about__info{
    grid-template-columns: repeat(2, 1fr);
  }

  .skills__box{
    column-gap: 1rem;
  }
  .skills__name{
    font-size: var(--small-font-size);
  }

  .services__container{
    grid-template-columns: 145px;
    justify-content: center;
  }

  .work__item{
    font-size: var(--small-font-size);
  }
  .work__filters{
    column-gap: .25rem;
  }
  .modal-content{
    width: 90%;
  }
  .close{
    right: 10px;
  }
}

/* For medium devices */
@media screen and (min-width: 561px){
  .nav__menu{
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .about__info{
    grid-template-columns: repeat(2, 140px);
    justify-content: center;
  }
  .about__description{
    padding: 0 5rem;
  }

  .skills_container{
    justify-content: center;
  }
  .skils__content{
    padding: 2rem 4rem;
  }

  .services__container{
    grid-template-columns: repeat(2, 160px);
    justify-content: center;
  }
  .services__modal-content{
    width: 500px; 
    padding: 4.5rem 2.5rem 2.5rem;
  }
  .services__modal-description{
    padding: 0 3.5rem;
  }

  .work__container{
    justify-content: center;
  }
  .work__img{
    max-width: 300px;
    max-height: 300px;
  }
  .modal-content{
    width: 90%;
  }
  .close{
    right: 10px;
  }

  .contact__info{
    grid-template-columns: 300px;
    justify-content: center;
  }
  .contact__form{
    width: 360px;
    margin: 0 auto;
  }
  
}

@media screen and (min-width: 767px) {
  .work__container{
    grid-template-columns: repeat(2, max-content);
  }

  .contact__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 3rem;
  }

  .close{
    right: 100px;
  }
}

/* For large devices */
@media screen and (min-width: 1110px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  /* .section{
    padding: 6.5rem 0 1rem;
  } */
  .section__title{
    margin-bottom: 3.5rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }

  .home__img{
    width: 720px;
  }
  .home__social-link{
    padding: .4rem;
    font-size: 1.25rem;
  }
  .home__social::after{
    transform: rotate(90deg) translate(16px, 0);
  }
  .home__email-icon{
    font-size: 2rem;
  }

  .about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .about__img{
    width: 880px;
    padding: 1rem;
  }
  .about__data{
    text-align: initial;
  }
  .about__info{
    justify-content: initial;
  }
  .about__box{
    text-align: center;
    padding: 1rem 1.25rem;
  }
  .about__description{
    padding: 0 6.5rem 0 0;
    margin-bottom: 2.5rem;
  }

  .skills__container{
    grid-template-columns: repeat(2, 450px);
    justify-content: center;
    column-gap: 3rem;
  }

  .services__container{
    grid-template-columns: repeat(3, 192px);
    column-gap: 3rem;
  }
  .services__card{
    padding: 5rem 2rem 1.5rem;
  }

  .work__container{
    grid-template-columns: repeat(3, max-content);
    gap: 3rem;
  }
  .work__card{
    padding: 1.25rem;
  }
  .work__img{
    margin-bottom: 1rem;
  }
  .work__title{
    margin-bottom: .5rem;
  }

  .research__container{
    width: 1050px;
  }
  .research__card{
    padding: 1.5rem 2rem;
  } 

  .contact__container{
    column-gap: 6rem;
  }

  .footer__social-link{
    font-size: 1.25rem;
    padding: .4rem;
    border-radius: .5rem;
  }
}
